<div>
    <h2 class="title" data-qa-id="mktgPrefTitle">Keeping you informed</h2>
    <p class="is-size-7 ( opt-in-out )" data-qa-id="mktgPrefText">
        From time to time esure Services Limited, trading as esure would like to contact you with marketing
        messages
        by email, post, phone and through digital channels. Please see our
        <a [href]="" target="_blank">Privacy Policy</a> for full details. If you prefer not to receive these
        messages from us, you can
        <a>unsubscribe here</a>.
    </p>
</div>