<div>
    <h1 style="position: fixed;
    left: 18px;
    height: 45px;
    background-color: azure;
    top: 45px;
    right: 18px;
    padding-left: 0px;">Payment Page</h1>
    <div>
        <h2>Choose your payment type</h2>

        <input type="radio" id="anually" name="payment" value="" />
        <label for="anually">anually</label>
        <input type="radio" id="monthly" name="payment" value="2" checked />
        <label for="monthly">monthly</label>
    </div>
    <app-nav-buttons></app-nav-buttons>
</div>