.layout-container {
    width: 100%;
    .header-container { 
        width: 100%;
        background-color: #096fae;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 50px;
    }
    .main-container {
        position: inherit;
        left: 0;
        top: 0;
        right: 0;
        padding: 0 16px 24px;
        .header-content {
            margin: 0px auto;
            position: relative;
            left: 0;
            top: 0;
            right: 0;
            height: 50px;
            color: white;
            line-height:3;
        }
        .main-content {
            .main-column {
                width:100%;
                max-width:700px;
            }
            .side-column {
                width:300px;
                min-width:300px;
                margin-left:24px;
                .side-content {
                    background-color: lightgray;
                    padding: 16px;
                }
            }
        }
    }    
    .footer-container {
        background-color: #096fae;
        width: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        .footer-content {
            padding: 0 16px;
            line-height:3;
            background-color: #096fae;
            position: relative;
            left: 0;
            bottom: 0;
            right: 0;
            height: 50px;
            color: white;
        }
    }
}

.wrapper-container {
    margin: 0px auto;
    max-width: 1024px;
}