<app-root-modal></app-root-modal>

<main>
    <div class="layout-container">
        <div class="wrapper-container">
            <div class="header-container"></div>
            <div class="main-container">
                <div class="header-content">
                    <span style="float:left;">{{insuranceType}}</span>
                    <span style="float:right;">header menu</span>
                </div>
                <div class="main-content">
                    <ng-content select=".breadcrumb"></ng-content>

                    <div style="display: flex;">

                        <div class="main-column">
                            <ng-content></ng-content>
                        </div>

                        <ng-content select=".sidebar"></ng-content>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="wrapper-container">
                <div class="footer-content">
                    <span style="float:left;">footer menu</span>
                    <span style="float:right;">logo</span>
                </div>
            </div>
        </div>
    </div>
</main>