<main>
    <div class="layout-container">
        <div class="wrapper-container">
            <div class="header-container"></div>
            <div class="main-container">
                <div class="header-content">
                    <span style="float:left;">menu</span>
                    <span style="float:right;">logo</span>
                </div>
                <div class="main-content">
                    <div style="margin: 10px 0 30px;">
                        <app-breadcrumb></app-breadcrumb>
                    </div>

                    <div style="display: flex;">

                        <div class="main-column">
                            <ng-content></ng-content>
                        </div>
                        <app-side-bar></app-side-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="wrapper-container">
                <div class="footer-content">
                    <span style="float:left;">footer</span>
                    <span style="float:right;">logo</span>
                </div>
            </div>
        </div>
    </div>
</main>