<app-standard-page>
    <ng-container class="breadcrumb">
        <div style="margin: 10px 0 30px;">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </ng-container>

    <div>
        <div *ngFor="let dynamicComponent of dynamicComponentList" style="border: 1px solid #096fae;
    padding: 10px; margin-bottom: 10px;">

            <app-dynamic-loader [dynamicComponent]="dynamicComponent" (outputEvent)="outputEvent($event)">
            </app-dynamic-loader>
        </div>
        <app-nav-buttons [isContinueDisabled]="isContinueDisabled"></app-nav-buttons>
    </div>

    <ng-container class="sidebar">
        <app-side-bar></app-side-bar>
    </ng-container>
</app-standard-page>