<app-breadcrumb></app-breadcrumb>
<div>
    <h1 style="position: fixed;
    left: 18px;
    height: 45px;
    background-color: azure;
    top: 45px;
    right: 18px;
    color: #096fae;
    padding-left: 20px;">Review</h1>
    <div *ngFor="let dynamicComponent of dynamicComponentList" style="border: 1px solid #096fae;
    padding: 10px; margin-bottom: 10px;">

        <app-dynamic-loader [dynamicComponent]="dynamicComponent" (outputEvent)="outputEvent($event)">
        </app-dynamic-loader>
    </div>
    <app-nav-buttons [isNextDisabled]="isNextDisabled"></app-nav-buttons>
</div>