<div style="border: 1px solid green; margin: 10px; padding: 10px;">
  <h1 data-qa-id="salutation" class="title grey">
    Hello Vlatko</h1>

  <p class="has-text-weight-bold">It should only take 5 minutes to sort out your cover</p>

  <h2 data-qa-id="quickCheckTitle" class="title">First, let's check a few details</h2>

  <div data-qa-id="quickCheckOfferSection" class="( offer )">
    <p class="is-size-7">
      <span class="has-text-weight-bold">Great news!</span> As you've selected buildings and contents, for the 1st
      year we offer you...
    </p>
    <ul class="( offer-checklist )">
      <li class="is-size-7">
        <span class="is-size-7 ( price )">
          <span class="has-text-weight-light">12 months</span> FREE
          <span class="has-text-weight-light">Home Emergency cover</span>
        </span>
      </li>
      <li class="is-size-7">
        <span class="is-size-7 ( price )">
          <span class="has-text-weight-light">12 months</span> FREE
          <span class="has-text-weight-light">Family Legal Protection</span>
        </span>
      </li>
    </ul>
    <p class="is-size-7">To take advantage of these options add them later</p>
  </div>

  <div class="( home-info_help-text_container )">
    <p>
      We don’t offer advice or recommendations for any products so make sure you choose the cover that meets your
      needs.
    </p>
    <p>Please check the summary of our home insurance cover below.</p>
  </div>

</div>