<div class="side-column mobile-hidden">
    <div class="side-content" style="margin-bottom: 20px;">
        <div class="h3">Already have a quote</div>
        <div class="p-large">Pick up where you left off here</div>
        <button class="btn btn-primary">Get my quote</button>
    </div>
    <div class="side-content">
        <b>Insure with esure</b>
        <br />
        <br />
        <div>
            <img [src]="imageUrl" />
        </div>
        <br />
        This is a sidebar container used just for devices with large viewports.
    </div>
</div>