<div class="side-column mobile-hidden">
    <div class="side-content">
        <b>Insure with esure</b>
        <br />
        <br />
        <div>
            <img [src]="imageUrl" />
        </div>
        <br />
        With your permission we and our partners may use precise geolocation data and
        identification
        through device scanning. You may click to consent to our and our partners’ processing as
        described above. Alternatively you may access more detailed information and change your
        preferences before consenting or to refuse consenting.
    </div>
</div>