<header class="modal-card-head">
    <p class="modal-card-title">
      <strong class="has-text-grey-dark">
        Test Modal
      </strong>
    </p>
  </header>
  
  <section class="modal-card-body">
    <span>
      Desciption
    </span>
  </section>
  
  <footer class="modal-card-foot">
    <div class="modal-button-wrapper">
      <button class="btn btn-primary" (click)="dismissModal()" style="user-select: none; float: left;">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="updateModal()" style="user-select: none; float: right;">
        Update
      </button>
    </div>
  </footer>