<ng-container *ngFor="let item of data; let i = index">
    <span
        style="background-color: lightgray; padding: 10px 20px; margin: 10px 10px 0px 0px; cursor: pointer; display: inline-flex;"
        (click)="click(item, $event)">
        <input style="cursor: pointer; margin: 6px 10px 5px 0px;" type="radio" id="item.name" name="dynamicSingleMultiselect" [value]="item.name"
            [(ngModel)]="selectedValue" [checked]="item.isSelected" (click)="select(item, $event)" />
        <label style="cursor: pointer; user-select: none;" for="item.name">{{item.name}}</label>
    </span>
</ng-container>