<p>Strategy 2</p>
<ng-container *ngFor="let item of data; let i = index">
    <span style="background-color: lightgray; padding: 10px 20px; margin: 10px; cursor: pointer; display: inline-flex;"
        (click)="selectAdvanced(item)">
        <input style="cursor: pointer;" type="radio" id="item.name" name="dynamicSingleMultiselect"
            [value]="item.isSelected" [(ngModel)]="item.isSelected" />
        <label style="cursor: pointer;" for="item.name">{{item.name}}</label>
    </span>
</ng-container>