<app-standard-page>
    <ng-container class="breadcrumb">
        <div style="margin: 10px 0 30px;">
            <app-breadcrumb></app-breadcrumb>
        </div>
    </ng-container>

    <div>
        <div *ngFor="let dynamicComponent of dynamicComponentList" style="border: 1px solid #096fae;
    padding: 10px; margin-bottom: 10px;">
            <app-dynamic-loader [dynamicComponent]="dynamicComponent"></app-dynamic-loader>
        </div>
        <app-nav-buttons></app-nav-buttons>
    </div>
</app-standard-page>