<div style="border: 2px solid #096fae; padding: 10px;">
    <div>
        <ng-container *ngFor="let item of primaryListItems">
            <span style="padding: 10px 20px; margin: 10px; cursor: pointer; display: inline-flex; user-select: none;"
                [ngStyle]="{'background-color': item.isSelected ? 'gray' : 'lightgray'}" (click)="selectPrimary(item)">
                {{item.name}}
            </span>
        </ng-container>

        <ng-container>
            <span style="padding: 10px 20px; margin: 10px; cursor: pointer; display: inline-flex; user-select: none;"
                [ngStyle]="{'background-color': otherItem?.isSelected ? 'gray' : 'lightgray'}" (click)="selectOther()">
                other
            </span>
        </ng-container>
    </div>

    <div>
        <app-dynamic-loader *ngIf="otherOrAdvancedItem?.isSelected" [dynamicComponent]="strategyComponent"
            (outputEvent)="outputEvent($event)">
        </app-dynamic-loader>
    </div>
</div>