/* You can add global styles to this file, and also import other style files */


.tooltip-example {
    // text-align: center;
    // padding: 0 50px;
  }
  .tooltip-example > div {
    // display: inline-block;
    // margin: 50px 20px;
    // width: 180px;
    // height: 50px;
    // border: 1px solid lightgray;
    // border-radius: 5px;
    // line-height: 50px;
    // text-align: center;
  }
  .ng-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: black;
    padding: 3px 8px;
    background: lightgray;
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    box-shadow: 0px 4px 11px 1px black;
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 9px;
    border-color: lightgray transparent transparent transparent;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent lightgray transparent;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent lightgray;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent lightgray transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
  }

  .blue {
      color: #096fae;
  }